/*.substvars
/*.debhelper.log
/ceph-client-tools-dbg
/ceph-client-tools
/ceph-dbg
/ceph-fuse-dbg
/ceph-fuse
/ceph-common-dbg
/ceph-common
/ceph.init
/ceph.logrotate
/*.debhelper
/ceph
/files
/libcephfs1-dbg
/libcephfs-dev
/libcephfs1
/libcephfs1-hadoop
/librados2-dbg
/librados-dev
/librados2
/librbd1-dbg
/librbd-dev
/librbd1
/radosgw-dbg
/radosgw
/librgw-dev
/librgw1
/librgw1-dbg
/gceph-dbg
/gceph
/obsync
/python-ceph
/tmp
